*{
  margin: 0;
  padding: 0;
  text-align: center;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

header{
  width: 100%;
  height: 15vh;
  background-color: #333;
}

header h1{
  font-size: 40px;
}

input{
  width: 35%;
  height: 30px;
  padding: 5px;
  font-size: 20px;
  margin: 0;
  outline: none;
  border-radius: 10px;
  border: none;
}

form{
  margin-top: 50px;
}

button {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background-color: #333;
}

button:hover {
  padding: 15px;
  font-size: 20px;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  background-color: #171717;
  cursor: pointer;
}
